*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menssage__screen{
    position: absolute;
    width: 70vw;
    height: 100%;
    margin-top: 100px;
    overflow-y: scroll;
    background-image: url("https://i.pinimg.com/originals/8b/ce/1e/8bce1e4d81426249a606b66c7ca626d7.jpg");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
}

/* ----------------------responsive 900px---------------- */
@media screen and (max-width: 900px){
    .menssage__screen{
    width: 100vw;
    }
}

@media screen and (max-width: 320px){
    .menssage__screen{
        margin-top: 80px;
    }
}