*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menssage__screen{
    position: absolute;
    width: 70vw;
    height: 100%;
    top: 100px;
    overflow-y: scroll;
}

/* ----------------------responsive 900px---------------- */
@media screen and (max-width: 900px){
    .menssage__screen{
    width: 100vw;
    }
}