.menssager__screen{
    margin-top: 15px;
    width: 70vw;
    overflow-x: hidden;
    
}

/* ----------------------responsive 900px---------------- */
@media screen and (max-width: 900px){
    .menssager__screen{
    
    width: 100vw;
    }
}