.windows__messanger__list{
    background-color: rgba(152, 161, 188, 0.712);
    border-right: 1px solid rgb(77, 77, 77);
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 200px;
    overflow: auto;
    

}
/* ----------------------responsive 900px---------------- */
@media (max-width: 900px) {
  .windows__messanger__list{
    width: 100%;
    height: 100vh;
    padding-top: 200px;
  }

  
}


/* ----------------------responsive 320px---------------- */
@media (max-width: 320px) {
  .windows__messanger__list{
    padding-top: 150px;
}
}