
.menssage__contact{
    background-color: rgb(38, 26, 49) ;
    width: 27vw;
    height: 13vh;
    margin-top: 15px;
    border-radius: 10px ;
    display: flex;
    justify-content: left;
    align-items: center
    
    
}

a:hover .menssage__contact {
  background-color: rgb(12, 8, 15);
  box-shadow: 0 0 4mm rgba(29, 16, 32, 0.788);
  cursor: pointer;
}


.contacto__info{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.contacto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    border: 2px solid rgb(59, 2, 77);
}

.estatus{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 38px;
    margin-left: 38px;
}

.online{
    background-color: rgb(7, 230, 7);
}

.offline{
    background-color: red;
}

.contacto__card{
    display: flex;
    flex-direction: column;
}

.contacto__name{
    margin-left: 20px;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.game_info_contact{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    gap: 10px;
    
}

.level{
    width: 100%;
    height: 100%;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(152, 161, 188);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    
}

.clase{
    width: 100%;
    height: 100%;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.game_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 10px;
    margin-top: 10px;
}


.contacto__frase{
    margin-left: 20px;
    font-size: 12px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.contacto__game{
    margin-left: 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 10px 0 10px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

/* ----------------------responsive 900px---------------- */

@media screen and (max-width: 900px) {

    .menssage__contact{
        width: 80vw;
    }
}

